body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(89, 0, 179), rgba(0, 45, 179));
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 65%;
    position: absolute;
    top: 0;
}

.navlist {
    text-decoration: none;
    color: white;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: -5px;
}

.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    text-align: center;
}

p {
  color: white;
  font-size: 18px;
  text-align: center;
  
}

.btn1 {
color: white;
margin: 50px;
padding: 10px;
border: 1px solid white;
text-decoration: none;
}

.main {
    margin-top: 100px;
    /* border: 1px solid white; */
    height: 70vh
}

#P1 {
    font-size: 38px;
}

#P2 {
    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section2-white {
    height: 55vh;
    width: 100%;
    border: 1px solid white;
    top: -10;
    margin-top: 75;
    position: absolute;
    background-color: white;
}

#P4 {
    color: black;
    font-size: 25px;
}

.flexbox-container2 {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-row-gap: 50px;
   width: 60%;
   margin-left: auto;
   margin-right: auto; 
   margin-top: 3%;
   align-items: center;
   justify-content: space-around;
}
#P5 {
    color: black;
    font-size: 20px;
    margin-bottom: 50;
}
#P6 {
    color: black;
    font-size: 20px;
    align-items: left;
    margin-right: 290px;
}
#P7 { 
    color: black;
    font-size: 15px;
    margin-left: 300px;

}

.btn2{
    background-color: orange;
    padding: 10px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 125px;
    text-decoration: none;
}

#section3-teal {
    height: 55vh;
    width: 100%;
    align-content: center;
    background-color: teal;
    border: 1px solid teal;
    margin-top: 30%;
    position: absolute;
}

#P8 {
    color: white;
    font-size: 45px;
}

#P9 {
    width: 60%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#P10 {
    width: 60%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px; 
}

.btn3 {
    background-color: orange;
    padding: 10px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 125px;
    text-decoration: none;
}



